/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #f5f7fa;
	width: 1280px;
	height: 100%;
	margin: 0 auto;
	font-family: Lato,sans-serif;
	color: #283D56;
}

/* header footer common */
header, footer {
	width: 100%;
	text-align: center;
}

.container {
	height: 1280px;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.banner {
	background: #5586D6;
	color: #fff;
	padding: 10px;
}

/* positions */
header {
	padding-top: 20px;
	font-size: 1.3em;
}

footer {
	padding: 10px;
	font-size: .8rem;
}

.title, .tips {
	height: 30px;
	padding-top: 20px;
	position: relative;
}

.title {
	border-radius: 40px 40px 0 0;
}

.tips {
	border-radius: 0 0 40px 40px;
}

table {
	table-layout: fixed;
	word-wrap: break-word;
	position: relative;
	border-collapse: collapse;
	width: 100%;
}

.content {
	font-size: .8rem;
	width: 30%;
	vertical-align: top;
}

.contentName {
	padding: 10px;
	padding-left: 20px;
	width: 25%;
	font-weight:bold;
	vertical-align: top;
}

.contentDetails {
	padding: 10px;
}

.contentAction {
	width: 10%;
	padding-right: 20px;
	text-align: right;
}

.nameText {
	font-weight: bold;
}

.records textarea {
	height: 1.2em;
	font-size: 1em;
	resize: none;
	width: 100%;
	border: none;
	overflow: hidden;
	background-color: transparent;
	font-size: .9em;
}

/* buttons */
.detailBtn {
	position: absolute;
	left: 20px;
	top: 10px;
	background: none;
	border: none;
	cursor: pointer;
}

.addBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.detailBtn img{
	width: 20px;
	height: 20px;
}
.deleteBtn{
  background-image: url("images/sprite.png");
  background-position: -5px -568px;
  width: 18px;
  height: 18px;
    display:inline-block;
}

tr:hover .deleteBtn {
	cursor: pointer;
}

.tableRows{
	border: 2px solid #DFE3E6
}

.fieldname {
	text-align: right;
	border-right: 1px solid #fff;
}

.errorMsg {
	color: red;
	font-weight: normal;
}

.newappIcon {
  display: block;
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
	padding: 10px;
}

.appTitle {
	padding: 15px;
  margin: 0 auto;
  text-align: center;
	font-size: 1.5rem;
}

.description {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.infoImg {
	cursor: pointer;
}

.flexBox {
	display: flex;
	flex-wrap: wrap;
}

.contentTiles {
		padding: 10px;
		font-size: .8rem;
}

.uploadBox {
  margin: 0 auto;
  text-align: center;
}

.appinfo {
	padding: 10px;
}

/*** Alteracoes Lucas ***/


.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



@font-face {
      font-family: "ibm";
      src: url("IBMPlexSans-Text.ttf") format("truetype");
}

.ibm-title{
    font-family: "ibm";
	padding: 15px;
  	margin: 0 auto;
  	text-align: center;
	font-size: 1.5rem;
}

.ibm-font{
	font-family: "ibm";
	transition: text-shadow .3s;
}

.ibm-font:hover{
	text-shadow: 0 0 13px rgba(100,100,100, 0.9);
}

big {
	font-size: 80px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

label {
	display: block;
	float: center;
	border: transparent;
}

label, input {
	width: 50%;
	margin: 1px;
}

input {
	width:100px;
}

fieldset {
	text-align: center;
	border: transparent;
	width:200px;

}

.button {
	display: inline-block;
    white-space: nowrap;
    background-color: #4169E1;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font:  1em/1.5em ibm;
    text-decoration: none;
    color: white;
    text-shadow: none;
	opacity: 0.8;
	cursor: pointer;
	padding: 8px 16px;
	border-radius: 15px;
	font-size: 16px;
}

/* Ripple magic */
.button{
  position: relative;
  overflow: hidden;
}

.button:after {
  content: '';
  mix-blend-mode: screen;
  position: absolute;
  top: 35%;
  left: 41%;
  width: 16px;
  height: 16px;
  background: rgba(51, 102, 204, .5);
  opacity: 0;
  border-radius: 100%;
  transform-origin: 50% 50%;
  
}

@keyframes ripple {
  0%, 35% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}

.button::after {
  animation: ripple 1.2s ease-out infinite;
  animation-delay: 1s;
}

/*** Alteracoes Lucas ***/



/***** Botoes Vini ******/
/** .button {        
    display: inline-block;
    white-space: nowrap;
    background-color: #4169E1;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font:  1em/1.5em ibm;
    text-decoration: none;
    color: white;
	padding: 8px 16px;
    text-shadow: none;
    border-radius: .2em;
	opacity: 0.8;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
	overflow: hidden;
}

.button:after {
	content: '';
	mix-blend-mode: screen;
	position: absolute;
	top: 41% /**21px ;
	left: 47% /**632px;
	height: 16px;
	background: rgba(51, 102, 204, .5);
	opacity: 0;
	border-radius: 100%;
	transform-origin: 50% 50%;
animation: ripple 1.2s ease-out infinite;
  animation-delay: 1s;
}

**/
.button:hover {
	background-color: #284CB7;        
	color: white;
	text-shadow: none;
	box-shadow: 0 0 3px #000000;
	position: relative;
}

.button:active {
    box-shadow: 0 0 3px #000000;
    position: relative;
    top: 1px;
}

.button:focus {
    outline: 0;
    background: #284CB7;
}    

.button:before {
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;        
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    border-radius: .15em 0 0 .15em;
    pointer-events: none;
}

/* Hexadecimal entities for the icons */

.add:before {
    content: "\271A";
}

.edit:before {
    content: "\270E";        
}

.delete:before {
    content: "\2718";        
}

.save:before {
    content: "\2714";        
}

.email:before {
    content: "\2709";        
}

.like:before {
    content: "\2764";        
}

.next:before {
    content: "\279C";
}

.star:before {
    content: "\2605";
}

.spark:before {
    content: "\2737";
}

.play:before {
    content: "\25B6";
}
/***** Botoes Vini ******/